#sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: $primary-dark-color;
  color: $white;
  border-right: 0.25px solid $hover-color;
  margin-left: -280px;
  transition: all .3s ease;
  &.active {
    margin-left: 0;
  }
  .sidebar-header {
    padding: 60px 36px;
  }
  ul{
    padding-right: 30px;
    p{
      color: $white;
      padding: 10px;
    }
    li{
      padding: 16px 0;
      text-align: right;
      a{
        font-size: 12px;
        text-align: right;
        display: inline-block;
        line-height: 24px;
        color: $text-color-darker;
        text-decoration: none;
        transition: all 0.3s;
        &:after{
          content:'';
          display: block;
          height: 1px;
          width: 0;
          margin-top: -12px;
          background:#7A7E82;
          -webkit-transition:width .35s ease;
          -moz-transition:width .35s ease;
          transition:width .35s ease;
        }
        &:hover {
          color: $text-color;
          &:after{
            width: 100%;
          }
        }
        &.dropdown-toggle::after {
          display: block;
          position: absolute;
          top: 50%;
          right: 64px;
          transform: translateY(-50%);
        }
        i{
          margin-right: 32px;
        }
      }
      &.active{
        > a{
          color: $text-color-darker;
          &:after{
            width: 100%;
          }
        }
      }
    }
    &.list-unstyled{
      a{
        &[aria-expanded="true"] {
          color: $white;
          background-color: $secondary-dark-color;
        }
        &[data-toggle="collapse"] {
          position: relative;
        }
      }
    }
    ul{
      &.list-unstyled{
        a {
          font-size: 0.9em !important;
          padding-left: 72px;
          padding-right: 32px !important;
          background-color: $secondary-dark-color;
          &:hover {
            color: $text-color;
            background: $hover-color;
          }
        }
      }
    }
  }
  .nav-footer{
    a{
      margin: 0 4px;
      :hover{
        color: $highlight;
      }
    }
  }
}