$font-family: 'Open Sans', monospace;

$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #ebebeb !default;
$gray-300: #dedede !default;
$gray-400: #c5c5c5 !default;
$gray-450: #bdbdbd !default;
$gray-500: #ababab !default;
$gray-600: #6b6b6b !default;
$gray-700: #454545 !default;
$gray-800: #333333 !default;
$gray-900: #222222 !default;
$black:    #000 !default;

$primary-color:#6272a4;
$secondary-color: #bd93f9;
$primary-dark-color: #161514;
$secondary-dark-color: #21222C;
$hover-color:#44475A;

$bg: #282A36;
$text-color: #C0C4C8;
$text-color-darker: #7A7E82;
$text-primary: #6BA3FB;
$border-color: #21222C;
$box-shadow : 0 8px 8px rgba(26, 25, 33, 0.25);
$success-color: #20CA00;
$info-color: #60BCFF;
$error-color: #f1393d;
$highlight: #ff79c6;
$keyword : #50fa7b;