.logo{
	margin: 0 auto;
}

.logo img{
	width: 150px;
}

.service-box img{
	width: 80px;
}

.service-box{
	padding: 0 120px;
}

.btn-default {
    color: #fff;
    background-color: #1857bf;
    border-color: #1857bf;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
    color: #fff;
    background-color: #00399e;
    border-color: #00399e;
}
.key{
	color: #a6e22e;
	background: #383838;
	padding: 2px 5px;
	border-radius: 5px;
}

.container .row ul li{
	padding: 5px 0;
}
.heading h3{
	font-weight: bold;
	font-size: 30px;
}
.heading h4{
	font-style: italic;
}
.CodeMirror, .CodeMirror-scroll{
	height: 90vh;  
}
.CodeMirror{
	margin-top: 5px;
	border: 1px solid #7093cc; 
	border-radius: 4px;
}
#api{
	display: none;
}
.api-container{
	width: 100%;
}
.jstree-default .jstree-anchor {
  overflow:hidden; 
  text-overflow:ellipsis;
  width:100%;
}

.jstree-default .jstree-clicked {
  background: #1857bf;
  color:  #fff;
  padding:  0 5px;
}
